<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinao.sync.mapper.gas.GasMeterModelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinao.sync.entity.gas.GasMeterModelEntity">
        <id column="id" property="id" />
        <result column="productFactory" property="productFactory" />
        <result column="name" property="name" />
        <result column="specification" property="specification" />
        <result column="maxFlow" property="maxFlow" />
        <result column="minFlow" property="minFlow" />
        <result column="maxPressure" property="maxPressure" />
        <result column="wheelMaximum" property="wheelMaximum" />
        <result column="rotaryVolume" property="rotaryVolume" />
        <result column="ammeterSort" property="ammeterSort" />
        <result column="bigMeter" property="bigMeter" />
        <result column="ammeterMax" property="ammeterMax" />
        <result column="warnGas" property="warnGas" />
        <result column="enabled" property="enabled" />
        <result column="opBy" property="opBy" />
        <result column="opAt" property="opAt" />
        <result column="delFlag" property="delFlag" />
        <result column="digit" property="digit" />
        <result column="userType" property="userType" />
        <result column="chargeType" property="chargeType" />
        <result column="alarmValue" property="alarmValue" />
        <result column="inputMaxValue" property="inputMaxValue" />
        <result column="meterType" property="meterType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, productFactory, name, specification, maxFlow, minFlow, maxPressure, wheelMaximum, rotaryVolume, ammeterSort, bigMeter, ammeterMax, warnGas, enabled, opBy, opAt, delFlag, digit, userType, chargeType, alarmValue, inputMaxValue, meterType
    </sql>

</mapper>
