<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinao.sync.mapper.gas.GasMeterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinao.sync.entity.gas.GasMeterEntity">
        <id column="id" property="id" />
        <result column="meterNo" property="meterNo" />
        <result column="supplier" property="supplier" />
        <result column="modelId" property="modelId" />
        <result column="maxPointer" property="maxPointer" />
        <result column="digit" property="digit" />
        <result column="antiTheftRing" property="antiTheftRing" />
        <result column="installTime" property="installTime" />
        <result column="openCard" property="openCard" />
        <result column="openCardTime" property="openCardTime" />
        <result column="cardNewNo" property="cardNewNo" />
        <result column="opByName" property="opByName" />
        <result column="opBy" property="opBy" />
        <result column="opAt" property="opAt" />
        <result column="delFlag" property="delFlag" />
        <result column="lastCardUpdateTime" property="lastCardUpdateTime" />
        <result column="cardNo" property="cardNo" />
        <result column="buyGasCount" property="buyGasCount" />
        <result column="mendCardCount" property="mendCardCount" />
        <result column="deviceNumber" property="deviceNumber" />
        <result column="deviceModel" property="deviceModel" />
        <result column="initialReading" property="initialReading" />
        <result column="register" property="register" />
        <result column="areaCode" property="areaCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, meterNo, supplier, modelId, maxPointer, digit, antiTheftRing, installTime, openCard, openCardTime, cardNewNo, opByName, opBy, opAt, delFlag, lastCardUpdateTime, cardNo, buyGasCount, mendCardCount, deviceNumber, deviceModel, initialReading, register, areaCode
    </sql>

</mapper>
