<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinao.sync.mapper.gas.GasRefundGasMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinao.sync.entity.gas.GasRefundGasEntity">
        <id column="id" property="id" />
        <result column="accountNumber" property="accountNumber" />
        <result column="meterId" property="meterId" />
        <result column="useType" property="useType" />
        <result column="userType" property="userType" />
        <result column="refundGas" property="refundGas" />
        <result column="refundCountGas" property="refundCountGas" />
        <result column="refundGasMoney" property="refundGasMoney" />
        <result column="refundMoney" property="refundMoney" />
        <result column="chargeType" property="chargeType" />
        <result column="chargeRecordId" property="chargeRecordId" />
        <result column="status" property="status" />
        <result column="creatAt" property="creatAt" />
        <result column="reason" property="reason" />
        <result column="opByName" property="opByName" />
        <result column="opByNo" property="opByNo" />
        <result column="serviceHallId" property="serviceHallId" />
        <result column="opBy" property="opBy" />
        <result column="opAt" property="opAt" />
        <result column="delFlag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, accountNumber, meterId, useType, userType, refundGas, refundCountGas, refundGasMoney, refundMoney, chargeType, chargeRecordId, status, creatAt, reason, opByName, opByNo, serviceHallId, opBy, opAt, delFlag
    </sql>

</mapper>
