<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinao.sync.mapper.gas.GasUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinao.sync.entity.gas.GasUserEntity">
        <id column="accountNumber" property="accountNumber" />
        <result column="sysNumber" property="sysNumber" />
        <result column="oldAccountNumber" property="oldAccountNumber" />
        <result column="community" property="community" />
        <result column="bookNo" property="bookNo" />
        <result column="accountNo" property="accountNo" />
        <result column="accountName" property="accountName" />
        <result column="useType" property="useType" />
        <result column="mobile" property="mobile" />
        <result column="idCard" property="idCard" />
        <result column="population" property="population" />
        <result column="address" property="address" />
        <result column="gasEquipment" property="gasEquipment" />
        <result column="specialUserType" property="specialUserType" />
        <result column="userType" property="userType" />
        <result column="meterId" property="meterId" />
        <result column="openTime" property="openTime" />
        <result column="insuranceExpireTime" property="insuranceExpireTime" />
        <result column="addGas" property="addGas" />
        <result column="publicUser" property="publicUser" />
        <result column="status" property="status" />
        <result column="canDelete" property="canDelete" />
        <result column="opByName" property="opByName" />
        <result column="opBy" property="opBy" />
        <result column="opAt" property="opAt" />
        <result column="delFlag" property="delFlag" />
        <result column="lastTimeMeterReadingIndex" property="lastTimeMeterReadingIndex" />
        <result column="lastTimeMeterReading" property="lastTimeMeterReading" />
        <result column="balance" property="balance" />
        <result column="arrears" property="arrears" />
        <result column="lateFee" property="lateFee" />
        <result column="heatingBand" property="heatingBand" />
        <result column="lastUse" property="lastUse" />
        <result column="batchOpen" property="batchOpen" />
        <result column="lastRechargeTime" property="lastRechargeTime" />
        <result column="lastRechargeMoney" property="lastRechargeMoney" />
        <result column="regulatingValve" property="regulatingValve" />
        <result column="lastArrearsTime" property="lastArrearsTime" />
        <result column="openCard" property="openCard" />
        <result column="totalDosage" property="totalDosage" />
        <result column="totalBuyGasMoney" property="totalBuyGasMoney" />
        <result column="chargeMode" property="chargeMode" />
        <result column="alarmAmount" property="alarmAmount" />
        <result column="lastSecurityCheckTime" property="lastSecurityCheckTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        accountNumber, sysNumber, oldAccountNumber, community, bookNo, accountNo, accountName, useType, mobile, idCard, population, address, gasEquipment, specialUserType, userType, meterId, openTime, insuranceExpireTime, addGas, publicUser, status, canDelete, opByName, opBy, opAt, delFlag, lastTimeMeterReadingIndex, lastTimeMeterReading, balance, arrears, lateFee, heatingBand, lastUse, batchOpen, lastRechargeTime, lastRechargeMoney, regulatingValve, lastArrearsTime, openCard, totalDosage, totalBuyGasMoney, chargeMode, alarmAmount, lastSecurityCheckTime
    </sql>

</mapper>
