server:
  port: 9898
  servlet:
    context-path: /


spring:
  datasource:
    druid:
      db1:
        username: sa
        password: '@#Pass0903'
        driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
        url: jdbc:sqlserver://172.16.39.168:1433;DatabaseName=zhonghaogas
        initialSize: 5
        minIdle: 5
        maxActive: 20
      db2:
        username: root
        password: Tcp!5678
        driver-class-name: com.mysql.jdbc.Driver
        url: jdbc:mysql://223.247.222.253:3306/osd_gas?useUnicode=true&serverTimezone=UTC&characterEncoding=utf8
        initialSize: 5
        minIdle: 5
        maxActive: 20
  main:
    allow-bean-definition-overriding: true

# 是否开启sql打印  0否  1是，仅限在类中配置mybatis/mp
config:
  isLogImpl: 0
  # 气表型号
  modelId: a68f66df6a064b1d99927e4ff06f24ba


mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    auto-mapping-behavior: full
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  mapper-locations: classpath*:/mapper/*Mapper.xml
  global-config:
    # 逻辑删除配置
    db-config:
      # 删除前
      logic-not-delete-value: 1
      # 删除后
      logic-delete-value: 0